body{
    font-size: 24px;
}
.bodys {
    background: #7fdbda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-container {
    width: 500px;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.admin-title{
    font-weight: bolder;
    background: linear-gradient(to right, #026668, #58def5);
    -webkit-background-clip: text;
    color: transparent;



}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #4a4a4a;
}

.login-container button {
    background: #4a9da8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background: #3b8b94;
}

.login-container a {
    margin-top: 20px;
    color: #4a9da8;
    text-decoration: none;
}
.login-container a:hover {
    text-decoration: underline;
}

.bg-color{
    background-color: #7fdbda;
    color: white;
}

.custom-width-search {
    width: 240px;
  }

.btn-color{
    background: #4a9da8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 4px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }