{% extends "authbase.html" %}
{% block formheader %}Change Password{% endblock formheader %}
{% block contentform %}

<form>
<div>
        <label for="password">Password:</label>
        <input class="form-control" placeholder="Enter the Password" type="password"  name="password">
    </div>
<div>
        <label for="password">Confim Password:</label>
        <input class="form-control" placeholder="Re-enter the Password" type="password"  name="password">
    </div> 
    <div class="mt-4">
        <button type="submit">Change Password</button>
    </div>
</form>

{% endblock contentform %}