{% extends "authbase.html" %}
{% block formheader %}Register{% endblock formheader %}
{% block contentform %}

<form method="POST">
    {% csrf_token %}
    <div>
        <label for="username">Email:</label>
        <input class="form-control" placeholder="Enter Your Email" type="text" id="email" name="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input class="form-control" placeholder="Enter the Password" type="password"  name="password">
    </div>
<div>
        <label for="password">Confim Password:</label>
        <input class="form-control" placeholder="Re-enter the Password" type="password"  name="cpassword">
    </div> 
    <div class="mt-4">
        <button type="submit">Register</button>
    </div>
</form>
<a href="{% url 'login'%}" class="L-link ">Login</a>

{% endblock contentform %}
<a href="#" class="pr-5 mr-5 text-dark">Login</a>

