{% extends "authbase.html" %}
{% block formheader %}Reset Password{% endblock formheader %}
{% block contentform %}

<form>
    <div>
        <label for="username">Email:</label>
        <input class="form-control" placeholder="Enter Your Email" type="text" id="username" name="username">
    </div>
   
    <div class="mt-4">
        <button type="submit">Sent link</button>

    </div>

</form>



{% endblock contentform %}

{% block formfooter %}
<div>        <a href="" class="text-dark"><abbr title="After Click the Send button check your mail-box , Click on the link Reset password page will open">help?</abbr> </a>

   
</div>
<a class="text-decoration-none">
    
<i class="fa-regular fa-circle-left fa-4x  d-flex"></i>
</a>
{% endblock formfooter %}
