{% extends "nav.html" %}
{% block content %}
<div class="container m-5">
    <h3 class="text-center">Subscription Plans</h3>
    <div class="d-flex justify-content-end">
      <a href="" class="btn btn-color">Create +</a>
  </div>
  
  
    <div class="row m-3">

        <!-- First Card -->
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">Plan Name</h3>
                    <p class="card-text">Description:- Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">Price:- <b>$200</b> </h6>
                    <a href="#" class="btn btn-primary">View detail</a>
                </div>
            </div>
        </div>

        <!-- Second Card -->
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">Plan Name</h3>
                    <p class="card-text">Description:- Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h6 class="card-subtitle mb-2 text-muted">Price:- <b>$200</b> </h6>
                    <a href="#" class="btn btn-primary">View detail</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
