{% extends "nav.html" %}
{% block content %}

<div class="container m-5">
    <h2 class="text-center">Subscription History</h2>
    
    <div class="p-3">
        
        <ul class="border m-3">
           
            <li>Plan name:- <b>plan1</b> </li>
            <li>Subscription date:- 23/07/2042</li>

            <li>expair date:- 23/08/2042</li>

        </ul>
    </div>
    <div class="p-3">
        
        <ul class="border m-3">
           
            <li>Plan name:- <b>plan2</b> </li>
            <li>Subscription date:- 23/07/2042</li>

            <li>expair date:- 23/08/2042</li>

        </ul>
    </div>

</div>
{% endblock content %}