{% extends "nav.html" %}
{% block content %}
<div class="container m-5">
    <h2 class="text-center">Watch History</h2>
    
    <div class="p-3">
        
        <ul class="border m-3">
           
            <li>Movie name:- <b>Movie1</b> </li>
            <li>Watch date:- 23/07/2042</li>

            <li>Watch time:- 9:10 pm</li>

        </ul>
    </div>
    <div class="p-3">
        
        <ul class="border m-3">
           
            <li>Movie name:- <b>Movie2</b> </li>
            <li>Watch date:- 23/07/2042</li>

            <li>Watch time:- 9:10 pm</li>

        </ul>
    </div>

</div>
{% endblock content %}